{% extends 'todo_app/base.html' %}

{% block title %}
    About Page
{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"> <center>TODO LİST</center> </h1>
      <p class="lead"> <center>This is a To-Do List Python Django Web Application</center> </p>
      <p class="lead"> <center>You can use this To-Do List for your Django Project</center> </p>
      <p class="lead"> <center>Just follow the list</center> </p>
      <p class="lead"> <center>If you follow the list correct, You will not make mistakes</center> </p>
      <p class="lead"> <center>You can update anything</center> </p>
    </div>
  </div>
{% endblock content %}
